@import './tailwind.css';

* {
  word-break: break-word;
  word-wrap: break-word;
}

input {
  color: #000;
}

.link {
  color: #56b3b4;
}

body.light-mode {
  color: #111;
  background-color: #fff;
  transition: background-color 0.15s linear;
}

body.dark-mode {
  color: #fff;
  background-color: #181818;
  transition: background-color 0.15s linear;
}

body.light-mode .chat-channel-name-verified {
  color: #606060;
  background-color: #e9e9e9;
}

body.light-mode .chat-channel-name-member {
  color: #107516;
}

body.light-mode .chat-channel-name {
  color: #11111199;
}

body.light-mode .chat-time {
  color: #11111168;
}

body.light-mode .chat-text {
  color: #111;
}

body.dark-mode .chat-channel-name-verified {
  color: #cccccc;
  background-color: #606060;
}

body.dark-mode .chat-channel-name-member {
  color: #2ba640;
}

body.dark-mode .chat-channel-name {
  color: #ffffffb2;
}

body.dark-mode .chat-time {
  color: #ffffff8a;
}

body.dark-mode .chat-text {
  color: #fff;
}
